p {color: white;
  font-family: "Times New Roman", Times, serif;
  text-align: justify;
  font-size: 18pt;
  color: #240F66;
  margin-left: 15%;
background-color: black
}
#jwst-header {
    cursor: pointer
    transition: transform 0.2s ease;
}

#jwst-header.animate {
    transform: scale(1.1);
}
