p {
  color: wite
  font-family: "Times New Roman", Times, serif;
  text-align: justify;
  font-size: 18pt;
  margin-left: 15%;
  background-color: black;
}

#jwst-header {
  cursor: pointer;
  transition: transform 0.2s ease;
  background-color: white; /* corrigé */
}

#jwst-header.animate {
  transform: scale(1.1);
}
