p {
  color: white;
  font-family: "Times New Roman", Times, serif;
  text-align: justify;
  font-size: 18pt;
  margin-left:5%;
  background-color: black;
}

#jwst-header {
  cursor: pointer;
  color:black;
  transition: transform 0.7s ease;
  background-color: white;
  
}
table {margin-left:5%;
background-color:black;
}

#jwst-header.animate {
  transform: scale(1.1);
  
}
h1 {
  
  font-family: "Times New Roman", Times, serif;
  text-align: justify;
  font-size: 18pt;
  margin-left: 5%;
  background-color:black;
  color: white;
  
}
body {
  font-family: "Times New Roman", Times, serif;
  text-align: justify;
  font-size: 18pt;
  margin-left: 5%;
  background-color:black;
  margin-right: 5%;
  color:white;
  }
a {margin-left: 5%;}
 li{color:#FFFFFF;
 margin-left: 5%;}
 
 header
 {background-color:black;
 }

h2{
 background-color:black;
color: white;}
footer{ background-color:black;
color: white;
margin-right: 5%;
  }
